:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-gray: #dfdfdf;

  /* size */
  --size-button: 60px;
  --button-font-size: 18px;

  /*animation*/
  --animation-duration: 300ms;
}

body {
  background-color: var(--color-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logo {
  cursor: pointer;
  transition: transform var(--animation-duration) ease;
}

.btn {
  background-color: transparent;
  border: none;
  outline: none;
  transition: transform var(--animation-duration) ease;
}

.logo:hover,
.btn:hover {
  transform: scale(1.1);
}

.img-btn {
  width: var(--size-button);
  height: var(--size-button);
}

.color-btn {
  font-size: var(--button-font-size);
}

.blue {
  background-color: var(--color-blue);
}

.yellow {
  background-color: var(--color-yellow);
}

.pink {
  background-color: var(--color-pink);
}
