@import url("./reset.css");
:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-gray: #dfdfdf;

  /* size */
  --base-space: 8px;
  --size-button: 60px;
  --border-radius: 4px;
  --size-thumnail: 40px;
  --button-font-size: 18px;

  /*animation*/
  --animation-duration: 300ms;
}

body {
  background-color: var(--color-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logo {
  transition: transform var(--animation-duration) ease;
}

.btn {
  background-color: transparent;
  border: none;
  outline: none;
  transition: transform var(--animation-duration) ease;
}

.logo:hover,
.btn:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.img-btn {
  width: var(--size-button);
  height: var(--size-button);
}

.color-btn {
  font-size: var(--button-font-size);
  padding: calc(var(--base-space) * 2);
  border-radius: var(--border-radius);
  margin-right: var(--base-space);
}

.blue {
  background-color: var(--color-blue);
}

.yellow {
  background-color: var(--color-yellow);
}

.pink {
  background-color: var(--color-pink);
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.items {
  width: 30%;
  height: 60%;
  list-style: none;
  outline: none;
  padding-left: 0;
  overflow-y: scroll;
}

.item {
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  padding: var(--base-space);
  margin-bottom: var(--base-space);
}

.item__thumnail {
  width: var(--size-thumnail);
  height: var(--size-thumnail);
}

.item__description {
  margin-left: var(--base-space);
  font-size: var(--button-font-size);
}
