:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-gray: #dfdfdf;

  /* animation */
  --scale-time: 400ms;

  /* size */
  --base-space: 8px;
  --imgBtn-size: 60px;
  --font-size: 18px;
  --radius: 4px;
  --itemImg-size: 40px;
}

body {
  background-color: var(--color-black);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  transition: transform var(--scale-time) ease;
}

.buttons {
  display: flex;
  align-items: center;
}

.btn {
  margin-right: var(--base-space);
  background-color: transparent;
  border-style: none;
  transition: transform var(--scale-time);
}

.logo:hover,
.btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.imgBtn {
  width: var(--imgBtn-size);
  height: var(--imgBtn-size);
}

.colorBtn {
  font-size: var(--font-size);
  border-radius: var(--radius);
  padding: calc(var(--base-space) * 2);
}

.blue {
  background-color: var(--color-blue);
}

.yellow {
  background-color: var(--color-yellow);
}

.pink {
  background-color: var(--color-pink);
}

.items {
  width: 50%;
  height: 60%;
  overflow-y: auto;
}

.item {
  list-style: none;
  background-color: var(--color-white);
  margin-bottom: var(--base-space);
  display: flex;
  align-items: center;
  padding: var(--base-space);
}

.itemImg {
  width: var(--itemImg-size);
  height: var(--itemImg-size);
}

.itemText {
  margin-left: calc(var(--base-space) * 2);
}
