:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-gray: #dfdfdf;

  /* size */
  --logo-size: 120px;
  --btn-margin-right: 10px;
  --img-btn-size: 60px;
  --border-radius: 5px;
  --base-space: 8px;
  --btn-font-size: 18px;
  --item-thumnail: 40px;

  /*animation*/
  --animation-duration: 400ms;
}

body {
  background-color: var(--color-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logo {
  width: var(--logo-size);
  height: var(--logo-size);
  transition: transform var(--animation-duration) ease;
}

.btn {
  transition: transform var(--animation-duration) ease;
  background-color: transparent;
  margin-right: var(--btn-margin-right);
  border: none;
}
.logo:hover,
.btn:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.img-btn {
  width: var(--img-btn-size);
  height: var(--img-btn-size);
}

.colorBtn {
  border-radius: var(--border-radius);
  padding: var(--base-space);
  font-size: var(--btn-font-size);
}

.blue {
  background-color: var(--color-blue);
}
.yellow {
  background-color: var(--color-yellow);
}
.pink {
  background-color: var(--color-pink);
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.items {
  width: 40%;
  height: 50%;
  list-style: none;
  padding-left: 0;
  overflow-y: auto;
}

.item {
  background-color: var(--color-white);
  margin-bottom: var(--base-space);
  padding: var(--base-space);
  display: flex;
  align-items: center;
}

.item__thumnail {
  width: var(--item-thumnail);
  height: var(--item-thumnail);
}

.item__description {
  margin-left: var(--base-space);
  font-size: var(--btn-font-size);
}
